@tailwind base;
@tailwind components;
@tailwind utilities;

#layout-animationed-background {
    --gradient-color-1: #6561e2;
    --gradient-color-2: #caf0b8;
    --gradient-color-3: #ffffff;
    --gradient-color-4: #92d6f8;
}
#layout-non-animationed-background {
    background: linear-gradient(transparent, white 110%),
        radial-gradient(
            circle closest-corner at 30% center,
            #98d8b7,
            transparent 150%
        ),
        linear-gradient(157deg, #635ee4 0%, #68c7ff 25%, white);
}
