.st0{fill:url(#SVGID_1_);}
.st1{fill:url(#SVGID_00000021095540465193288280000009242830455784728728_);}
.st2{fill:url(#SVGID_00000080900987754659247600000008657780372513416323_);}
.st3{fill:url(#SVGID_00000020392234719429592680000013542016772594361243_);}
.st4{fill:url(#SVGID_00000142162743870026625560000005674135542387813795_);}
.st5{fill:url(#SVGID_00000042734107032335050820000011544677099228821420_);}
.st6{fill:url(#SVGID_00000116229100760819572630000000482191841887453609_);}
.st7{fill:url(#SVGID_00000093871438563189045780000006910046698707916199_);}
.st8{fill:url(#SVGID_00000172403338083741589540000007958480647023797651_);}
.st9{fill:url(#SVGID_00000031203912277743260720000005400583453444938413_);}
.st10{fill:url(#SVGID_00000103963520968132580980000017535424110024191159_);}
.st11{fill:url(#SVGID_00000181796634829672829680000004149782495545815937_);}
.st12{fill:url(#SVGID_00000013875301198082486710000006777734326921415332_);}
.st13{fill:url(#SVGID_00000033329212290921004330000009659761959713311132_);}
.st14{fill:url(#SVGID_00000013883999777822007450000015179353926438251429_);}
.st15{fill:url(#SVGID_00000167363062900210027700000013961052341909651870_);}
.st16{fill:url(#SVGID_00000176764264044026634510000001119211073634360455_);}
.st17{fill:url(#SVGID_00000016796967455544637400000011840875908197821096_);}
.st18{fill:url(#SVGID_00000132069145445612871590000009687330423521639047_);}
.st19{fill:url(#SVGID_00000024683840785663612640000017682192025771984274_);}
.st20{fill:url(#SVGID_00000099620403205864109100000011388133861665771425_);}
.st21{fill:url(#SVGID_00000042011718295670827920000016113263355924436405_);}
.st22{fill:url(#SVGID_00000047758395365850213560000013862972449474046140_);}
.st23{fill:url(#SVGID_00000067932498614389920080000011272412222733556355_);}
.st24{fill:url(#SVGID_00000162345835580520513250000006535749575910901672_);}
.st25{fill:url(#SVGID_00000152943687713746802530000017642792766638518463_);}
.st26{fill:url(#SVGID_00000044894166449353335130000001538865882606271618_);}
.st27{fill:url(#SVGID_00000158736427884613240130000009939719458196278707_);}
.st28{fill:url(#SVGID_00000049934321175940827920000005020586582131575442_);}
.st29{fill:url(#SVGID_00000011746296003818423420000017431447037877696906_);}
.st30{fill:url(#SVGID_00000026855528191761397360000007007966965691125677_);}
.st31{fill:url(#SVGID_00000037666472533175979760000013876496833341184924_);}
.st32{fill:url(#SVGID_00000127034519709392009010000017594115140216094903_);}
.st33{fill:url(#SVGID_00000148626807302137076660000005630780560507398078_);}
.st34{fill:url(#SVGID_00000130622407858316454930000013295354277566700933_);}
.st35{fill:url(#SVGID_00000160882647336353499020000008573622234547299730_);}
.st36{fill:url(#SVGID_00000068666911278022390050000012085522282740689026_);}
.st37{fill:url(#SVGID_00000156575202869879227390000010650051835173253544_);}
.st38{fill:url(#SVGID_00000071518655356303238720000011713040412893325232_);}
.st39{fill:#A6BAC9;}
.st40{fill:url(#SVGID_00000121243207677384567440000014773061487954445475_);}
.st41{fill:url(#SVGID_00000048474046238836529290000003373333925090271143_);}
.st42{fill:url(#SVGID_00000005236123530455309090000012879385550519364022_);}